:root {
    --background-color: rgb(255, 255, 240);
    --accent-color: rgb(0, 193, 174);

    --notes-color: rgb(89, 89, 89);
    --notes-color--bright: rgb(200, 200, 200);

    --translucent-black: rgb(0, 0, 0, 0.65);
}

* {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
}

p, a, figcaption {
    font-family: 'Merriweather', serif;
}

a {
    text-decoration: none;
    color: black;
}

body {
    background-color: var(--background-color);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;

    padding: 5vh 0 5vh 0;
}

.nav-links {
    display: flex;
    justify-content: space-between;

    width: 40%;
}

.nav-links > a {
    font-size: 18px;
    text-decoration: none;
    color: black;
    padding: 3px 0 3px 0;
}

.nav-links > a:hover {
    color: var(--accent-color);
    font-weight: bold;
    cursor: pointer;
}

.nav-links-link--selected {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

main {
    display: flex;
    flex-flow: column;
    gap: 6vh;

    margin: 0 15% 0 15%;
}

footer {
    padding: 6vh 10% 3vh 10%;
}

.vsplit {
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.vsplit > * {
    width: 50%;
    height: auto;
}

.vsplit--center {
    align-items: center;
}

.valign {
    display: flex;
    flex-direction: column;
}

.floating-left-align {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
}

figure > * {
    margin-bottom: 3px;
}

figcaption {
    font-size: 12px;
    color: var(--notes-color);
    text-align: right;
}

figcaption > * {
    text-decoration: none;
    color: var(--notes-color);
}

@media screen and (max-width: 1000px) {
    main {
        margin: 0 4% 0 4%;
        gap: 3vh;
    }

    .nav-links {
        display: none;
    }

    footer {
        padding: 6vh 5% 3vh 5%;
    }

    .vsplit {
        flex-direction: column;
        gap: 3vh;
    }

    .vsplit > * {
        width: 100%;
    }

    .floating-left-align {
        align-items: center;
    }
}