:root {
    --accent-color: rgb(0, 193, 174);
}

* {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Abril Fatface', cursive;
}

p, a {
    font-family: 'Merriweather', serif;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;

    padding: 2.5% 0 6.5% 0;
}

.nav-links {
    display: flex;
    justify-content: space-between;

    width: 40%;
}

.nav-links > a {
    font-size: 18px;
    text-decoration: none;
    color: black;
    padding: 3px 0 3px 0;
}

.nav-links > a:hover {
    color: var(--accent-color);
    font-weight: bold;
    cursor: pointer;
}

.nav-links-link--selected {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

main {
    margin: 0 15% 0 15%;
}

.vsplit {
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.vsplit > * {
    width: 50%;
    height: auto;
}

.valign {
    display: flex;
    flex-direction: column;
}