.header-img {
    object-fit: cover;
    width: 100%;
    aspect-ratio: 1 / 1;
}

.header-text {
    gap: 2vh;
}

.latest-works {
    display: flex;
    flex-flow: column;
    gap: 1.5vh;
}

.raindrops-on-fallen-branches-thumbnail {
    background-image: url('/writing/images/raindrops-on-fallen-branches-background.jpg');
    background-size: cover;
    background-position: center;
}

.still-thumbnail {
    background-image: url('/writing/images/still-background.jpg');
    background-size: cover;
    background-position: center;
}